<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.ow2.chameleon.eclipse.ipojo.exporter.category"
            class="org.ow2.chameleon.eclipse.ipojo.exporter.ui.IPojoBundleExportWizard"
            icon="icons/nature_marker.png"
            id="org.ow2.chameleon.eclipse.ipojo.exporter.bundle"
            name="iPOJO Bundles">
      </wizard>
      <category
            id="org.ow2.chameleon.eclipse.ipojo.exporter.category"
            name="iPOJO Bundles">
      </category>
      <wizard
            category="org.ow2.chameleon.eclipse.ipojo.exporter.category"
            class="org.ow2.chameleon.eclipse.ipojo.exporter.ui.IPojoCoreJarExportWizard"
            icon="icons/nature_marker.png"
            id="org.ow2.chameleon.eclipse.ipojo.exporter.core"
            name="iPOJO Core JAR file">
      </wizard>
   </extension>

</plugin>
