<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution
       id="org.psem2m.eclipse.ipojo.popup.manifest"
       nameFilter="MANIFEST.MF"
       objectClass="org.eclipse.core.resources.IFile">
		<action
        class="org.ow2.chameleon.eclipse.ipojo.actions.UpdateMF"
        id="org.psem2m.eclipse.ipojo.manifest.update"
        label="Update Manifest"
        menubarPath="additions"> 
		</action> 
	</objectContribution>
	
 <objectContribution
       adaptable="true"
       id="org.psem2m.eclipse.ipojo.nature.toggle"
       nameFilter="*"
       objectClass="org.eclipse.core.resources.IProject">
    <action
          class="org.ow2.chameleon.eclipse.ipojo.builder.ToggleNatureAction"
          enablesFor="+"
          id="org.psem2m.eclipse.ipojo.nature.addRemoveNatureAction"
          label="Add/Remove iPOJO Nature"
          menubarPath="additions"
          tooltip="Change the iPOJO Nature state">
    </action>
 </objectContribution>
</extension>

<extension
      id="org.psem2m.eclipse.ipojo.ipojoBuilder"
      name="iPOJO Builder"
      point="org.eclipse.core.resources.builders">
   <builder
         hasNature="true">
      <run
            class="org.ow2.chameleon.eclipse.ipojo.builder.IPojoBuilder">
      </run>
   </builder>
</extension>
<extension
      id="org.psem2m.eclipse.ipojo.iPojoNature"
      name="iPOJO Nature"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.ow2.chameleon.eclipse.ipojo.builder.IPojoNature">
      </run>
   </runtime>
   <builder
         id="org.psem2m.eclipse.ipojo.ipojoBuilder">
   </builder>
</extension>
<extension
      point="org.eclipse.help.toc">
   <toc
         file="help_toc.xml"
         primary="true">
   </toc>
</extension>

</plugin>
