<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
      point="org.eclipse.ui.commands">
   <command
         defaultHandler="org.ow2.chameleon.eclipse.ipojo.actions.UpdateManifestHandler"
         id="org.ow2.chameleon.eclipse.ipojo.update_manifest"
         name="Update Manifest">
   </command>
   <command
         defaultHandler="org.ow2.chameleon.eclipse.ipojo.actions.ToggleNatureHandler"
         id="org.ow2.chameleon.eclipse.ipojo.toggle_nature"
         name="Add/Remove iPOJO Nature">
   </command>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="popup:org.eclipse.ui.popup.any">
      <command
            commandId="org.ow2.chameleon.eclipse.ipojo.update_manifest"
            icon="icons/menu_marker_16.png"
            label="Update Manifest"
            style="push"
            tooltip="Forces an iPOJO manipulation">
         <visibleWhen
               checkEnabled="false">
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="MANIFEST.MF">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </visibleWhen>
      </command>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="popup:org.eclipse.ui.popup.any">
      <command
            commandId="org.ow2.chameleon.eclipse.ipojo.toggle_nature"
            icon="icons/menu_marker_16.png"
            label="Add/Remove iPOJO Nature"
            style="push"
            tooltip="Change the iPOJO Nature state">
         <visibleWhen
               checkEnabled="false">
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                  </adapt>
               </iterate>
            </with>
         </visibleWhen>
      </command>
   </menuContribution>
</extension>

<extension
      id="org.ow2.chameleon.eclipse.ipojo.ipojoBuilder"
      name="iPOJO Manipulator"
      point="org.eclipse.core.resources.builders">
   <builder
         hasNature="true">
      <run
            class="org.ow2.chameleon.eclipse.ipojo.builder.IPojoBuilder">
      </run>
   </builder>
</extension>

<extension
      id="org.ow2.chameleon.eclipse.ipojo.iPojoNature"
      name="iPOJO Project Nature"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.ow2.chameleon.eclipse.ipojo.builder.IPojoNature">
      </run>
   </runtime>
   <builder
         id="org.ow2.chameleon.eclipse.ipojo.ipojoBuilder">
   </builder>
</extension>
<extension
      point="org.eclipse.help.toc">
   <toc
         file="help_toc.xml"
         primary="true">
   </toc>
</extension>
<extension
      point="org.eclipse.ui.ide.projectNatureImages">
   <image
         icon="icons/nature_marker_16.png"
         id="org.ow2.chameleon.eclipse.ipojo.iPojoNature.image"
         natureId="org.ow2.chameleon.eclipse.ipojo.iPojoNature">
   </image>
</extension>
<extension
      point="org.eclipse.ui.propertyPages">
   <page
         class="org.ow2.chameleon.eclipse.ipojo.ui.properties.ProjectPropertyPage"
         icon="icons/menu_marker_16.png"
         id="org.ow2.chameleon.eclipse.ipojo.ui.properties.projectPropertyPage"
         name="iPOJO Project"
         selectionFilter="single">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
                  <test property="org.eclipse.core.resources.projectNature" value="org.ow2.chameleon.eclipse.ipojo.iPojoNature"/>
             </adapt>     
      </enabledWhen>
   </page>
</extension>
<extension
      point="org.eclipse.jdt.core.compilationParticipant">
   <compilationParticipant
         class="org.ow2.chameleon.eclipse.ipojo.builder.IPojoCompilationParticipant"
         id="org.ow2.chameleon.eclipse.ipojo.nature.compilationParticipant1">
   </compilationParticipant>
</extension>
</plugin>
