<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution
       id="org.ow2.chameleon.eclipse.ipojo.popup.manifest"
       nameFilter="MANIFEST.MF"
       objectClass="org.eclipse.core.resources.IFile">
		<action
        class="org.ow2.chameleon.eclipse.ipojo.actions.UpdateMF"
        icon="icons/menu_marker_16.png"
        id="org.ow2.chameleon.eclipse.ipojo.manifest.update"
        label="Update Manifest"
        menubarPath="additions"> 
		</action> 
	</objectContribution>
	
 <objectContribution
       adaptable="true"
       id="org.ow2.chameleon.eclipse.ipojo.nature.toggle"
       nameFilter="*"
       objectClass="org.eclipse.core.resources.IProject">
    <action
          class="org.ow2.chameleon.eclipse.ipojo.builder.ToggleNatureAction"
          enablesFor="+"
          icon="icons/menu_marker_16.png"
          id="org.ow2.chameleon.eclipse.ipojo.nature.addRemoveNatureAction"
          label="Add/Remove iPOJO Nature"
          menubarPath="additions"
          tooltip="Change the iPOJO Nature state">
    </action>
 </objectContribution>
</extension>

<!--
<extension
      id="org.ow2.chameleon.eclipse.ipojo.ipojoBuilder"
      name="iPOJO Manipulator"
      point="org.eclipse.core.resources.builders">
   <builder
         hasNature="true">
      <run
            class="org.ow2.chameleon.eclipse.ipojo.builder.IPojoBuilder">
      </run>
   </builder>
</extension>
-->

<extension
      id="org.ow2.chameleon.eclipse.ipojo.iPojoNature"
      name="iPOJO Project Nature"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.ow2.chameleon.eclipse.ipojo.builder.IPojoNature">
      </run>
   </runtime>
   <!--
   <builder
         id="org.ow2.chameleon.eclipse.ipojo.ipojoBuilder">
   </builder>
   -->
</extension>
<extension
      point="org.eclipse.help.toc">
   <toc
         file="help_toc.xml"
         primary="true">
   </toc>
</extension>
<extension
      point="org.eclipse.ui.ide.projectNatureImages">
   <image
         icon="icons/nature_marker_16.png"
         id="org.ow2.chameleon.eclipse.ipojo.iPojoNature.image"
         natureId="org.ow2.chameleon.eclipse.ipojo.iPojoNature">
   </image>
</extension>
<extension
      point="org.eclipse.ui.propertyPages">
   <page
         class="org.ow2.chameleon.eclipse.ipojo.ui.properties.ProjectPropertyPage"
         icon="icons/menu_marker_16.png"
         id="org.ow2.chameleon.eclipse.ipojo.ui.properties.projectPropertyPage"
         name="iPOJO Project"
         selectionFilter="single">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
                  <test property="org.eclipse.core.resources.projectNature" value="org.ow2.chameleon.eclipse.ipojo.iPojoNature"/>
             </adapt>     
      </enabledWhen>
   </page>
</extension>
<extension
      point="org.eclipse.jdt.core.compilationParticipant">
   <compilationParticipant
         class="org.ow2.chameleon.eclipse.ipojo.builder.IPojoCompilationParticipant"
         id="org.ow2.chameleon.eclipse.ipojo.nature.compilationParticipant1">
   </compilationParticipant>
</extension>

</plugin>
